@import "theme/fewbox-variables";
@import "..";

.fb-submit {
    @extend .fb-input;
    cursor: pointer;
    background-color: $primary-color;
    input {
        width: 100%;
        cursor: pointer;
        background-color: $primary-color;
        color: $on-primary-color;
    }
}
