// Base
$primary-color: #d864a3;
$primary-variant-color: #d864a3;
$secondary-color: #3d23c4;
$secondary-variant-color: #3d23c4;
$background-color: #a9a9a9;
// On
$on-primary-color: #ffffff;
$on-primary-variant-color: #ffffff;
$on-secondary-color: #ffffff;
$on-secondary-variant-color: #ffffff;
// Other
$typography-color: #ffffff;
$iconography-color: #000000;