// Base
$primary-color: #d864a3;
$primary-variant-color: lighten($primary-color, 0.6);
$secondary-color: #3d23c4;
$secondary-variant-color: lighten($secondary-color, 0.6);
$background-color: #ffffff;
// On
$on-primary-color: #ffffff;
$on-primary-variant-color: #ffffff;
$on-secondary-color: #ffffff;
$on-secondary-variant-color: #ffffff;
// Other
$typography-color: #000000;
$iconography-color: #000000;
// Typography
$typography-size: 12px;
// Component
$input-placeholder-color: #d9d9d9;
$input-border-color: #d9d9d9;
$icon-size: 12px;
$icon-color: #d9d9d9;