@import "theme/fewbox-variables";

.fb-button {
    line-height: 1.5;
    font-size: $typography-size;
    width: 100%;
}
.fb-button-primary {
    @extend .fb-button;
    background-color: $primary-color;
    border-color: $primary-color;
    border: 1px solid transparent;
    color: $on-primary-color;
    &:hover {
        background-color: darken($primary-color, 0.2);
    }
}
